---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Education from '../components/Education.astro';
import Intro from '../components/Intro.astro';
import Skills from '../components/Skills.astro';
import WorkExperience from '../components/WorkExperience.astro';

---


---

<Layout>
  <main id="content" class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
    <Intro />
    <About />
    <Skills />
    <WorkExperience />
    <Education />
  </main>
</Layout>