<!-- Skills -->
<div class="my-10 sm:my-14">
   <h1 class="mb-5 font-medium text-gray-800 dark:text-neutral-200">Skills</h1>
   <!-- Technical skills -->
   <div class="space-y-3">
      <dl class="flex flex-col sm:flex-row gap-1">
         <dt class="min-w-40">
            <span class="block text-sm text-gray-500 dark:text-neutral-500">Technical Skills:</span>
         </dt>
         <dd class="flex flex-wrap gap-2 text-sm text-gray-800 dark:text-neutral-200">
            <span class="inline-flex items-center" class="w-4 h-4 me-1" /> AWS, 
            </span>
            <span class="inline-flex items-center" class="w-4 h-4 me-1" />Python, 
            </span>
            <span class="inline-flex items-center" class="w-4 h-4 me-1" />SQL, 
            <span class="inline-flex items-center" class="w-4 h-4 me-1" /> PySpark, 
            </span>
            <span class="inline-flex items-center" class="w-4 h-4 me-1" /> Azure,
            </span>
            <span class="inline-flex items-center" class="w-4 h-4 me-1" /> ETL
            </span>
            <!-- <span class="inline-flex items-center">
            <img src="/assets/dsa.svg" alt="DSA" class="w-4 h-4 me-1" /> Data Structures and Algorithms
            </span> -->
         </dd>
      </dl>
   </div>
</div>

